{% load static %}
<section class="mh-experince" id="mh-work">
    <div class="bolor-overlay">
        <div class="container">
            <div class="row section-separator">
                <div class="col-sm-12 col-md-6">
                    <div class="mh-education">
                         <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Work Experience</h3>
                        <div class="mh-education-deatils">
                            <!-- Education Institutes-->
                            <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <h4>Web Developer<br><i class="fa fa-briefcase"> </i> <a href="https://ainoviqit.com/" target="_blank"> AinoviQ IT Ltd.</a></h4>
                                <div class="mh-eduyear">January - July, 2023</div>
                                <p>
                                    <li>Solid udersting of the full web development life cycle maintenance.</li>
                                    <li>Collaborated with the team members using version control system such as as Github to organization modification and assign tasks.</li>
                                    <li>Utilized Django and Bootstrap as a development environment in order to visualize the web application</li>
                                </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>